{% extends 'base.html.twig' %}

{% block title %}New Producto{% endblock %}

{% block body %}
	<div class="container">
    <h1>Añadir un nuevo chollo</h1>

    {{ include('producto/_form.html.twig') }}

    </div>
{% endblock %}
