{% extends 'base.html.twig' %}

{% block title %}Crear categoría
{% endblock %}

{% block body %}
	<div class="container">
		<h1>Crear nueva categoría</h1>

		{{ include('categoria/_form.html.twig') }}
	</div>
{% endblock %}
